body{
    font-family: 'Arial';
    background-color: black;
    
}

.navbar-main{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans';
    /* font-size: 22px; */
}

.nav li a{
    font-size: 0.8rem;
}

header.masthead {
    padding-top: 10.5rem;
    /* height: 400px; */
    padding-bottom: 8rem;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


header.masthead .masthead-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 4rem;
    letter-spacing: 3px;
    /* text-shadow: 0px 0px 20px black; */
}
header.masthead .masthead-subheading {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    /* text-shadow: 0px 0px 20px black; */
}

.page-slide{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.page-slide .page-subscribe{
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    color: #fff;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 1024px) {
    header.masthead {
        /* height: 870px; */
        height: 650px;
        padding-top: 200px;
        /* padding-bottom: 440px; */
        /* padding-top: 11rem;
        padding-bottom: 15rem; */
    }
    header.masthead .masthead-heading {
        font-size: 4rem;
        font-weight: 700;
    }
    header.masthead .masthead-subheading {
        font-size: 1.5rem;
    }

    .page-slide{
        padding-top: 135px;
        padding-bottom: 150px;
        color: #fff;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    .page-subscribe{
        padding-top: 0px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1600px){
    header.masthead {
        /* height: 1200px; */
        height: 970px;
        padding-top: 400px;
        /* padding-bottom: 500px; */
    }
    header.masthead .masthead-heading {
        font-size: 4rem;
        font-weight: 700;
    }
    header.masthead .masthead-subheading {
        font-size: 1.5rem;
    }

    .page-slide{
        padding-top: 200px;
        height: 970px;
        /* padding-bottom: 300px; */
        color: #fff;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
}

.masthead-btn {
    /* box-shadow: 0px 0px 20px; */
    color: black;
    background-color: #F3AF34;
    padding: 0.8rem 5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}
.btn-more {
    /* box-shadow: 0px 0px 20px; */
    color: black;
    background-color: #F3AF34;
    padding: 0.8rem 5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}
.btn-sub {
    /* box-shadow: 0px 0px 20px; */
    color: black;
    background-color: #F3AF34;
    padding: 0.8rem 0rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}





.text-sys-req{
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 30px;
}
.btn-story{
    position: absolute;
    margin-top: 80px;
    /* bottom: 200px;  */
    width: 100%;
}

@media (min-width: 1024px){
    .text-sys-req{
        font-size: 40px;
        letter-spacing: 4px;
        line-height: 60px;
    }

    .btn-story{
        position: absolute; 
        bottom: 0; 
        width: 100%;
    }
}


table, th, td {
    padding: 20px;
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-collapse: collapse;
}

.table-text-title{
    color: #F3AF34;
    font-size: 1.5rem;
}

.table-text{
    color: white;
    font-size: 1rem;
    font-family: 'Anek Odia', sans-serif;
}

.text-title-main{
    letter-spacing: 3px;
}